<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>back page</title>



</head>
<body>


<h1 id="login" align="center">welcome to the home page</h1>
<a href="http://127.0.0.1:8000/">back</a>
<br>
<br>
<p>You do not have access to this page</p>
</body>
</html>